<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Universe Generator</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />

		<link rel="stylesheet" href="style.css" />

		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>

		<!-- JS, Popper.js, and jQuery -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"
		></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
		<script src="Chart.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script> -->
		<script src="chartjs-plugin-zoom.js"></script>
		<script src="perlin.js"></script>
		<script src="dataReference.js"></script>
		<script src="language.js"></script>
		<script src="generator.js"></script>
		<script src="utilities.js"></script>
	</head>

	<body>
		<div class="container">
			<h1>Universe Generator</h1>
			<div class="input-group mb-3 w-50">
				<div class="input-group-prepend">
					<button
						class="btn btn-primary"
						type="button"
						id="seedButton"
						onclick="randomSeed()"
					>
						Random Seed
					</button>
				</div>
				<input
					type="text"
					class="form-control"
					id="seedInput"
					aria-label="seed"
					aria-describedby="seedInput"
					placeholder="Seed"
				/>
				<div class="input-group-append">
					<button
						type="button"
						class="btn btn-primary"
						onclick="generateUniverse()"
					>
						Generate
					</button>
				</div>
			</div>
			<div id="progressBarMain" class="progress mb-2 d-none">
				<div
					id="progressBar"
					class="progress-bar progress-bar-striped"
					role="progressbar"
					aria-valuenow="0"
					aria-valuemin="0"
					aria-valuemax="100"
					style="width: 0%;"
				></div>
			</div>
			<div class="accordion" id="universeDisplay">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button
								class="btn text-left w-75"
								type="button"
								data-toggle="collapse"
								data-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								System Information
							</button>
							<button
								class="btn btn-outline-primary float-right"
								type="button"
								onclick="copyInfo()"
							>
								Copy
							</button>
						</h2>
					</div>

					<div
						id="collapseOne"
						class="collapse"
						aria-labelledby="headingOne"
						data-parent="#universeDisplay"
					>
						<div class="card-body">
							<table class="table table-sm table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th>Unit</th>
										<th>Name</th>
										<th>Unit</th>
										<th>Name</th>
										<th>Unit</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Diameter</td>
										<td>Kilometer (km)</td>
										<td>Distance</td>
										<td>Astronomical Unit (AU)</td>
										<td>Escape Velocity</td>
										<td>km/s</td>
									</tr>
									<tr>
										<td>Mass</td>
										<td>Kilogram (kg)</td>
										<td>Density</td>
										<td>g/cm<sup>3</sup></td>
										<td>Volume</td>
										<td>km<sup>3</sup></td>
									</tr>
									<tr>
										<td>Gravity</td>
										<td>m/s<sup>2</sup></td>
										<td>Temperature</td>
										<td>Celsius (c)</td>
									</tr>
								</tbody>
							</table>
							<pre id="list"></pre>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button
								class="btn text-left collapsed w-75"
								type="button"
								data-toggle="collapse"
								data-target="#collapseTwo"
								aria-expanded="false"
								aria-controls="collapseTwo"
							>
								Map
							</button>
							<button
								class="btn btn-outline-primary float-right"
								type="button"
								onclick="resetZoom()"
							>
								Reset Zoom
							</button>
						</h2>
					</div>
					<div
						id="collapseTwo"
						class="collapse"
						aria-labelledby="headingTwo"
						data-parent="#universeDisplay"
					>
						<div id="systemChartContainer" class="card-body">
							<h3 id="systemChartHeader"></h3>
							<p id="systemChartInfo"></p>
							<canvas id="systemChartCanvas">
								Your browser does not support the HTML5 canvas tag.</canvas
							>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button
								class="btn btn-block text-left collapsed"
								type="button"
								data-toggle="collapse"
								data-target="#collapseThree"
								aria-expanded="false"
								aria-controls="collapseThree"
							>
								Language
							</button>
						</h2>
					</div>
					<div
						id="collapseThree"
						class="collapse"
						aria-labelledby="headingThree"
						data-parent="#universeDisplay"
					>
						<div class="card-body">
							<pre id="language"></pre>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			window.onload = function () {
				document.getElementById("seedInput").value = "";
			};

			function copyInfo() {
				const copyText = document.getElementById("list").textContent;
				const textArea = document.createElement("textArea");
				textArea.textContent = copyText;
				document.body.append(textArea);
				textArea.select();
				document.execCommand("copy");
				textArea.remove();
			}

			function generateUniverse() {
				let seedValue = $("#seedInput").val();
				console.log("Seed:", seedValue);
				$("#progressBar").css("width", "0%");
				$("#progressBarMain").removeClass("d-none");
				GenerateUniverse(seedValue);

				document.getElementById("list").textContent = JSON.stringify(
					Universe,
					undefined,
					2
				);

				document.getElementById("language").textContent = JSON.stringify(
					Language,
					undefined,
					2
				);

				// Re-Create System Chart
				$("#systemChartCanvas").remove();
				$("#systemChartContainer").append(
					'<canvas id="systemChartCanvas">Your browser does not support the HTML5 canvas tag.</canvas>'
				);

				generateMaps();
			}

			function randomSeed() {
				let seedGenerator = new Math.seedrandom();
				document.getElementById("seedInput").value = Math.floor(
					seedGenerator() * Number.MAX_SAFE_INTEGER
				);
			}

			function resetZoom() {
				window.systemChart.resetZoom();
			}

			function generateMaps() {
				var systemChartCanvas = document.getElementById("systemChartCanvas");
				systemChartCanvas.width = 1024;
				systemChartCanvas.height = 769;
				var systemChartContext = systemChartCanvas.getContext("2d");
				systemChartCanvas.style.backgroundColor = "rgba(32,32,32,1)";

				let systemChartOptions = {
					responsive: true,
					title: {
						display: true,
						text: "System Map",
					},
					tooltips: {
						callbacks: {
							label: function (t, d) {
								return d.datasets[t.datasetIndex].data[t.index].label;
							},
						},
					},
					scales: {
						yAxes: [
							{
								display: true,
								ticks: {
									suggestedMin: -30.0,
									suggestedMax: 30.0,
									precision: 2,
								},
								scaleLabel: {
									display: true,
									labelString: "AU",
								},
							},
						],
						xAxes: [
							{
								display: true,
								ticks: {
									suggestedMin: -30.0,
									suggestedMax: 30.0,
									precision: 2,
								},
								scaleLabel: {
									display: true,
									labelString: "AU",
								},
							},
						],
					},
					plugins: {
						zoom: {
							pan: {
								enabled: true,
								mode: "xy",
								rangeMin: {
									x: null,
									y: null,
								},
								rangeMax: {
									x: null,
									y: null,
								},
								speed: 20,
								threshold: 10,
							},
							zoom: {
								enabled: true,
								drag: false,
								mode: "xy",

								rangeMin: {
									x: null,
									y: null,
								},
								rangeMax: {
									x: null,
									y: null,
								},
								speed: 0.1,
								threshold: 2,
								sensitivity: 3,
							},
						},
					},
				};

				let systemChartData = GenerateSystemChart();

				var systemChart = new Chart(systemChartContext, {
					type: "bubble",
					data: systemChartData,
					options: systemChartOptions,
				});

				window.systemChart = systemChart;

				document.getElementById("systemChartHeader").innerText =
					Universe["Name"];

				document.getElementById(
					"systemChartInfo"
				).innerText = getSystemDescription();

				// var image = ctx.createImageData(c.width, c.height);
				// var data = image.data;

				// noise.seed(seedValue);

				// for (var x = 0; x < c.width; x++) {
				// 	for (var y = 0; y < c.height; y++) {
				// 		var value = noise.perlin2(x / 100, y / 100);
				// 		value *= 256;

				// 		var cell = (x + y * c.width) * 4;
				// 		data[cell] = data[cell + 1] = data[cell + 2] = value;
				// 		data[cell + 3] = 255; // alpha.
				// 	}
				// }

				// ctx.fillColor = "black";
				// ctx.putImageData(image, 0, 0);
			}
		</script>
	</body>
</html>
